In [1]:
# Import dependencies
import os
import csv
import pandas as pd
import numpy as np
from collections import Counter

In [2]:
# Locate and confirm current working directory
os.path.abspath('.')
os.chdir('/Users/philipharmon/Desktop/unc-data-homework/pandas-challenge')
os.getcwd()
print("The current working directory is", os.getcwd())

The current working directory is /Users/philipharmon/Desktop/unc-data-homework/pandas-challenge

In [3]:
# File to Load (Remember to Change These)
school_data_to_load = '/Users/philipharmon/Desktop/unc-data-homework/pandas-challenge/schools_complete.csv'
student_data_to_load = '/Users/philipharmon/Desktop/unc-data-homework/pandas-challenge/students_complete.csv'

In [4]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [5]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [6]:
# Get a lay of the land
# returns a table of summary statistics on numeric columns in a dataframe
school_data_complete_df.describe()

# This gives a good reference to compare to results from other code

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [7]:
# Calculate the number of schools
number_of_schools_df = school_data_complete_df["school_name"].nunique()
number_of_schools_df

15

In [8]:
# Calculate the total number of students
number_of_students_df = school_data_complete_df["student_name"].count()
number_of_students_df

39170

In [17]:
# Calculate the total budget

In [18]:
budget_of_schools_df = school_data_complete_df["budget"].nunique()
budget_of_schools_df

15

In [19]:
total_budget_df = pd.DataFrame(school_data_complete_df["budget"])
pd.options.display.float_format = '${:, .2f}'.format
total_budget_df

        budget
0      1910635
1      1910635
2      1910635
3      1910635
4      1910635
...        ...
39165  1043130
39166  1043130
39167  1043130
39168  1043130
39169  1043130

[39170 rows x 1 columns]

In [20]:
# Calculate average math score
# Calculate the average math score
average_math_score_df = school_data_complete_df["math_score"].mean()
average_math_score_df

78.98537145774827

In [21]:
# Calculate average reading score
# calculate the average reading scores
average_reading_score_df = school_data_complete_df["reading_score"].mean()
average_reading_score_df

81.87784018381414

In [22]:
# Calculate overall passing rate (overall average score)
overall_passing_rate_df = ((average_math_score_df) + (average_reading_score_df)) / 2
overall_passing_rate_df

80.43160582078121

In [23]:
# Calculate the percentage of students with passing math score (70 or greater)

In [43]:
# Find out how many students are passing math
passing_math_bins = [0, 69, 100]
passing_math_labels = ["", "pass"]
pd.cut(school_data_complete_df["math_score"], passing_math_bins, labels=passing_math_labels)
school_data_complete_df["passing math"] = pd.cut(school_data_complete_df["math_score"], passing_reading_bins, labels=passing_reading_labels)
school_data_complete_df
print(school_data_complete_df["passing math"].value_counts())

pass    29370
fail     9800
Name: passing math, dtype: int64

In [46]:
passing_math_df = school_data_complete_df["passing math"].groupby(axis=0)

TypeError: You have to supply one of 'by' and 'level'

In [ ]:
# Calculate the percentage of students w passing reading score (70 or greater)

In [27]:
# Find out how many students are passing reading
passing_reading_bins = [0, 69, 100]
passing_reading_labels = ["fail", "pass"]
pd.cut(school_data_complete_df["reading_score"], passing_reading_bins, labels=passing_reading_labels)
school_data_complete_df["passing reading"] = pd.cut(school_data_complete_df["reading_score"], passing_reading_bins, labels=passing_reading_labels)
school_data_complete_df
print(school_data_complete_df["passing reading"].value_counts())

pass    33610
fail     5560
Name: passing reading, dtype: int64

In [25]:
# Create data frame to hold results

In [ ]:
# Give displayed data cleaner formatting