In [81]:
# import dependencies
import os
import csv
import pandas as pd
import numpy as np
from collections import Counter

In [82]:
# locate and confirm current working directory
os.path.abspath('.')
os.chdir('/Users/philipharmon/Desktop/unc-data-homework/pandas-challenge')
os.getcwd()
print("The current working directory is", os.getcwd())

The current working directory is /Users/philipharmon/Desktop/unc-data-homework/pandas-challenge

In [83]:
# file to Load (Remember to Change These)
school_data_to_load = '/Users/philipharmon/Desktop/unc-data-homework/pandas-challenge/schools_complete.csv'
student_data_to_load = '/Users/philipharmon/Desktop/unc-data-homework/pandas-challenge/students_complete.csv'

In [84]:
# load the csv files into pandas dataframe
filepath = os.path.join("raw_data","/Users/philipharmon/Desktop/unc-data-homework/pandas-challenge/schools_complete.csv")
schools_df = pd.read_csv(filepath)
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [85]:
filepath2 = os.path.join("raw_data","/Users/philipharmon/Desktop/unc-data-homework/pandas-challenge/students_complete.csv")
students_df = pd.read_csv(filepath2)
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [86]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [87]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [88]:


#----------------------------------DISTRICT SUMMARY---------------------------------------------

In [89]:
# Calculate the number of schools
number_of_schools_df = school_data_complete_df["school_name"].nunique()
number_of_schools_df

15

In [90]:
# Calculate the number of schools
total_schools = schools_df["school_name"].nunique()
total_schools

15

In [91]:
# Calculate the total number of students
number_of_students_df = school_data_complete_df["student_name"].count()
number_of_students_df

39170

In [92]:
# Calculate the total number of students
total_students = int(students_df["Student ID"].nunique())
total_students

39170

In [93]:
# Break off each of the 15 schools into individual groups/bins
# Create bins for the individual schools: Name, Type, # Students, Budget

raw_school_data = {
    "Name": ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School",
             "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School",
             "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School",
             "Johnson High School", "Ford High School", "Thomas High School"],
    "Type": ["District", "District", "Charter", "District", "Charter", "Charter", "Charter", "District",
             "Charter", "Charter", "Charter", "District", "District", "District", "Charter"],
    "Student Total": [2917, 2949, 1761, 4635, 1468, 2283,
                           1858, 4976, 427, 962, 1800, 3999, 4761, 2739, 1635],
    "Budget": [1910635, 1884411, 1056600, 3022020, 917500, 1319574, 1081356, 3124928,
               248087, 585858, 1049400, 2547363, 3094650, 1763916, 1043130]
}
indv_school_data_df = pd.DataFrame(raw_school_data)
indv_school_data_df

                     Name      Type  Student Total   Budget
0       Huang High School  District           2917  1910635
1    Figueroa High School  District           2949  1884411
2     Shelton High School   Charter           1761  1056600
3   Hernandez High School  District           4635  3022020
4     Griffin High School   Charter           1468   917500
5      Wilson High School   Charter           2283  1319574
6     Cabrera High School   Charter           1858  1081356
7      Bailey High School  District           4976  3124928
8      Holden High School   Charter            427   248087
9        Pena High School   Charter            962   585858
10     Wright High School   Charter           1800  1049400
11  Rodriguez High School  District           3999  2547363
12    Johnson High School  District           4761  3094650
13       Ford High School  District           2739  1763916
14     Thomas High School   Charter           1635  1043130

In [94]:
# Calculate the Total Budget for District
indv_school_data_df["Budget"].sum()

24649428

In [95]:
# Calculate the Total Budget for District
total_budget = schools_df["budget"].sum()
total_budget

24649428

In [96]:
# Calculate average math score
average_math_score_df = school_data_complete_df["math_score"].mean()
average_math_score_df

78.98537145774827

In [97]:
# Calculate average math score
avg_math_score = round(students_df["math_score"].mean(),1)
avg_math_score

79.0

In [98]:
# Calculate average reading score
average_reading_score_df = school_data_complete_df["reading_score"].mean()
average_reading_score_df

81.87784018381414

In [99]:
# Calculate average reading score
avg_reading_score = round(students_df["reading_score"].mean(),0)
avg_reading_score

82.0

In [100]:
# Find out how many students are passing math
passing_math_bins = [0, 69, 100]
passing_math_labels = ["fail", "pass"]
pd.cut(school_data_complete_df["math_score"], passing_math_bins, labels=passing_math_labels)
school_data_complete_df["passing math"] = pd.cut(school_data_complete_df["math_score"], passing_math_bins, labels=passing_math_labels)
school_data_complete_df
print(school_data_complete_df["passing math"].value_counts())

pass    29370
fail     9800
Name: passing math, dtype: int64

In [101]:
# The percentage of students with a passing math grade [(number passsing / total students) *100]
percent_passing_math_df = ((29370 / 39170) * 100)
percent_passing_math_df

74.9808526933878

In [102]:
# total of students passing math (score above 70)
students_passing_math = students_df[students_df["math_score"] > 70].count()["student_name"]
# percent of students passing maths
percentage_students_passed_math = round((students_passing_math/total_students)*100,0)
percentage_students_passed_math

72.0

In [103]:
# Find out how many students are passing reading
passing_reading_bins = [0, 69, 100]
passing_reading_labels = ["fail", "pass"]
pd.cut(school_data_complete_df["reading_score"], passing_reading_bins, labels=passing_reading_labels)
school_data_complete_df["passing reading"] = pd.cut(school_data_complete_df["reading_score"], passing_reading_bins, labels=passing_reading_labels)
school_data_complete_df
print(school_data_complete_df["passing reading"].value_counts())

pass    33610
fail     5560
Name: passing reading, dtype: int64

In [104]:
# The percentage of students with a passing reading grade [(number passsing / total students) *100]
percent_passing_reading_df = ((33610 / 39170) * 100)
percent_passing_reading_df

85.80546336482001

In [105]:
# total students passing reading
students_passing_reading = students_df[students_df["reading_score"]>70].count()["student_name"]

# percentage of students passing reading
percentage_passing_reading = round(((students_passing_reading/total_students)*100),1)
percentage_passing_reading

83.0

In [106]:
# Calculate overall passing rate (overall average score)
overall_passing_rate_df = ((average_math_score_df) + (average_reading_score_df)) / 2
overall_passing_rate_df

80.43160582078121

In [107]:
# Create data frame to hold results
district_summary_df = pd.DataFrame({"total_schools": [15], "total_students": [39170], "total_budget": [24649428], "avg_math_score": [78.985371], "avg_reading_score": [81.87784], "percent_passing_math": [74.980853], "percent_passing_reading": [85.805463], "overall_passing_rate": [80.431606]})
district_summary_df

,total_schools,total_students,total_budget,avg_math_score,avg_reading_score,percent_passing_math,percent_passing_reading,overall_passing_rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [108]:


# ----------------------------------SCHOOL SUMMARY----------------------------------------------------

In [109]:
# find the school type
school_type = schools_df.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [110]:
school_type_df = school_data_complete_df.set_index(["school_name"])["type"]
school_type_df

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [111]:
# merge both the dataframes
combined_df = pd.merge(students_df,schools_df,on="school_name")
combined_df.head()

# total students per school
total_students_per_school = combined_df["school_name"].value_counts()

In [112]:
# total school budget
budget_per_school = combined_df.groupby(["school_name"]).mean()["budget"]
budget_per_school

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [113]:
# budget per student 
budget_per_student = budget_per_school/total_students_per_school
budget_per_student

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [114]:
# Average math Score
# total math score per school
avg_math_scores = round(combined_df.groupby(["school_name"]).mean()["math_score"],2)
avg_math_scores

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [36]:
# average reading scores per school
# total reading scores per school
avg_reading_scores = round(combined_df.groupby(["school_name"]).mean()["reading_score"],2)
avg_reading_scores

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [37]:
# students passing math by schools
students_passing_math = combined_df[(combined_df["math_score"]>70)]
students_passing_math_per_school = students_passing_math.groupby(["school_name"]).count()["student_name"]
percentage_passing_math_schools = round((students_passing_math_per_school/total_students_per_school)*100,2)
percentage_passing_math_schools

Bailey High School       64.63
Cabrera High School      89.56
Figueroa High School     63.75
Ford High School         65.75
Griffin High School      89.71
Hernandez High School    64.75
Holden High School       90.63
Huang High School        63.32
Johnson High School      63.85
Pena High School         91.68
Rodriguez High School    64.07
Shelton High School      89.89
Thomas High School       90.21
Wilson High School       90.93
Wright High School       90.28
dtype: float64

In [68]:
# finding percent of students passing reading schoolwise

# find the total students passing reading from the combined dataset
students_passing_reading = combined_df[combined_df["reading_score"]>70]

# find the students passing reading schoolwise by doing groupby
students_passing_reading_per_school = students_passing_reading.groupby(["school_name"]).count()["student_name"]

# percentage of students passing reading per school
percentage_passing_reading_schoolwise = round((students_passing_reading_per_school/total_students_per_school)*100,2)
percentage_passing_reading_schoolwise

Bailey High School       79.30
Cabrera High School      93.86
Figueroa High School     78.43
Ford High School         77.51
Griffin High School      93.39
Hernandez High School    78.19
Holden High School       92.74
Huang High School        78.81
Johnson High School      78.28
Pena High School         92.20
Rodriguez High School    77.74
Shelton High School      92.62
Thomas High School       92.91
Wilson High School       93.25
Wright High School       93.44
dtype: float64

In [69]:
# overall passing rate per school
overall_passing_rate_schoolwise = (percentage_passing_math_schools + percentage_passing_reading_schoolwise)/2
overall_passing_rate_schoolwise

Bailey High School       71.965
Cabrera High School      91.710
Figueroa High School     71.090
Ford High School         71.630
Griffin High School      91.550
Hernandez High School    71.470
Holden High School       91.685
Huang High School        71.065
Johnson High School      71.065
Pena High School         91.940
Rodriguez High School    70.905
Shelton High School      91.255
Thomas High School       91.560
Wilson High School       92.090
Wright High School       91.860
dtype: float64

In [70]:
# creating a summary of the school data
school_summary_df = pd.DataFrame({"School Type":school_type,
                                 "Total Students":total_students_per_school,
                                 "Total School Budget":budget_per_school,
                                  "Budget per student":budget_per_student,
                                 "Average Math Score Schoolwise":avg_math_scores,
                                 "Average Reading Score Schoolwise":avg_reading_scores,
                                 "% Passing Math Schoolwise":percentage_passing_math_schools,
                                 "% Passing Reading Schoolwise":percentage_passing_reading_schoolwise,
                                 "Overall Passing rate":overall_passing_rate_schoolwise})
school_summary_df

,School Type,Total Students,Total School Budget,Budget per student,Average Math Score Schoolwise,Average Reading Score Schoolwise,% Passing Math Schoolwise,% Passing Reading Schoolwise,Overall Passing rate
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,64.63,79.30,71.965
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,89.56,93.86,91.710
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,63.75,78.43,71.090
Ford High School,District,2739,1763916.0,644.0,77.10,80.75,65.75,77.51,71.630
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,89.71,93.39,91.550
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,64.75,78.19,71.470
Holden High School,Charter,427,248087.0,581.0,83.80,83.81,90.63,92.74,91.685
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,63.32,78.81,71.065
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,63.85,78.28,71.065
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,91.68,92.20,91.940
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,64.07,77.74,70.905
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73,89.89,92.62,91.255
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,90.21,92.91,91.560
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,90.93,93.25,92.090
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,90.28,93.44,91.860

In [71]:


#-----------------------------TOP PERFORMING SCHOOLS BY PASSING RATE------------------------------------

In [72]:
top_performing_schools = per_school_summary.sort_values(["Overall Passing rate"],ascending = False).head(5)
top_performing_schools

,School Type,Total School Budget,Budget per student,Average Math Score Schoolwise,Average Reading Score Schoolwise,% Passing Math Schoolwise,% Passing Reading Schoolwise,Overall Passing rate,Spending Ranges (Per Student),Size of the school
Wilson High School,Charter,"$1,319,574.00",$578.00,83.27,83.99,90.93,93.25,92.090,<$585,Medium
Pena High School,Charter,"$585,858.00",$609.00,83.84,84.04,91.68,92.20,91.940,$585-615,Small
Wright High School,Charter,"$1,049,400.00",$583.00,83.68,83.96,90.28,93.44,91.860,<$585,Medium
Cabrera High School,Charter,"$1,081,356.00",$582.00,83.06,83.98,89.56,93.86,91.710,<$585,Medium
Holden High School,Charter,"$248,087.00",$581.00,83.80,83.81,90.63,92.74,91.685,<$585,Small

In [73]:


#-------------------------BOTTOM FIVE PERFORMING SCHOOLS BY PASSING RATE ----------------------------------

In [74]:
bottom_five_schools = per_school_summary.sort_values(["Overall Passing rate"],ascending = False).tail(5)
bottom_five_schools

,School Type,Total School Budget,Budget per student,Average Math Score Schoolwise,Average Reading Score Schoolwise,% Passing Math Schoolwise,% Passing Reading Schoolwise,Overall Passing rate,Spending Ranges (Per Student),Size of the school
Hernandez High School,District,"$3,022,020.00",$652.00,77.29,80.93,64.75,78.19,71.470,$645-675,Large
Figueroa High School,District,"$1,884,411.00",$639.00,76.71,81.16,63.75,78.43,71.090,$615-645,Medium
Huang High School,District,"$1,910,635.00",$655.00,76.63,81.18,63.32,78.81,71.065,$645-675,Medium
Johnson High School,District,"$3,094,650.00",$650.00,77.07,80.97,63.85,78.28,71.065,$645-675,Large
Rodriguez High School,District,"$2,547,363.00",$637.00,76.84,80.74,64.07,77.74,70.905,$615-645,Large

In [75]:


#------------------------------------MATH SCORES BY GRADE-------------------------------------

In [76]:
avg_math_scores_grade = round(combined_df.groupby(["grade"]).mean()["math_score"],2)
avg_math_scores_grade

grade
10th    78.94
11th    79.08
12th    78.99
9th     78.94
Name: math_score, dtype: float64

In [48]:


#---------------------------------READING SCORES BY GRADE--------------------------------------------

In [49]:
avg_reading_score_grade = round(combined_df.groupby(["grade"]).mean()["reading_score"],2)
avg_reading_score_grade

grade
10th    81.87
11th    81.89
12th    81.82
9th     81.91
Name: reading_score, dtype: float64

In [50]:


#--------------------------------SCORES BY SCHOOL SPENDING-------------------------------------------------

In [51]:
# create bins in which data will be held
bins = [0, 585, 615, 645, 675]
names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [77]:
# categorize the spendings 
per_school_summary["Spending Ranges (Per Student)"] = pd.cut(budget_per_student,bins,labels = names)
per_school_summary

,School Type,Total School Budget,Budget per student,Average Math Score Schoolwise,Average Reading Score Schoolwise,% Passing Math Schoolwise,% Passing Reading Schoolwise,Overall Passing rate,Spending Ranges (Per Student),Size of the school
Bailey High School,District,"$3,124,928.00",$628.00,77.05,81.03,64.63,79.30,71.965,$615-645,Large
Cabrera High School,Charter,"$1,081,356.00",$582.00,83.06,83.98,89.56,93.86,91.710,<$585,Medium
Figueroa High School,District,"$1,884,411.00",$639.00,76.71,81.16,63.75,78.43,71.090,$615-645,Medium
Ford High School,District,"$1,763,916.00",$644.00,77.10,80.75,65.75,77.51,71.630,$615-645,Medium
Griffin High School,Charter,"$917,500.00",$625.00,83.35,83.82,89.71,93.39,91.550,$615-645,Small
Hernandez High School,District,"$3,022,020.00",$652.00,77.29,80.93,64.75,78.19,71.470,$645-675,Large
Holden High School,Charter,"$248,087.00",$581.00,83.80,83.81,90.63,92.74,91.685,<$585,Small
Huang High School,District,"$1,910,635.00",$655.00,76.63,81.18,63.32,78.81,71.065,$645-675,Medium
Johnson High School,District,"$3,094,650.00",$650.00,77.07,80.97,63.85,78.28,71.065,$645-675,Large
Pena High School,Charter,"$585,858.00",$609.00,83.84,84.04,91.68,92.20,91.940,$585-615,Small
Rodriguez High School,District,"$2,547,363.00",$637.00,76.84,80.74,64.07,77.74,70.905,$615-645,Large
Shelton High School,Charter,"$1,056,600.00",$600.00,83.36,83.73,89.89,92.62,91.255,$585-615,Medium
Thomas High School,Charter,"$1,043,130.00",$638.00,83.42,83.85,90.21,92.91,91.560,$615-645,Medium
Wilson High School,Charter,"$1,319,574.00",$578.00,83.27,83.99,90.93,93.25,92.090,<$585,Medium
Wright High School,Charter,"$1,049,400.00",$583.00,83.68,83.96,90.28,93.44,91.860,<$585,Medium

In [78]:


#--------------------------------SCORES BASED ON SPENDING RANGES---------------------------------------

In [79]:
avg_math_score_spending = round(per_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score Schoolwise"],2)
avg_reading_score_spending = round(per_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score Schoolwise"],2)
students_passing_math_spending = round(per_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math Schoolwise"],2)
students_passing_reading_spending = round(per_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading Schoolwise"],2)
overall_pass_rate_spending = (students_passing_math_spending + students_passing_reading_spending)/2

In [80]:
scores_based_spending = pd.DataFrame({"Average Math Score (Spending)":avg_math_score_spending,
                                     "Average Reading Score (Spending)":avg_reading_score_spending,
                                     "% Passing Math (Spending)":students_passing_math_spending,
                                     "%Passing Reading (Spending)":students_passing_reading_spending ,
                                     "Overall Passing rate (Spending)":overall_pass_rate_spending})

scores_based_spending = scores_based_spending[["Average Math Score (Spending)","Average Reading Score (Spending)","% Passing Math (Spending)",
                         "%Passing Reading (Spending)","Overall Passing rate (Spending)"]]

# display the dataframe
scores_based_spending

,Average Math Score (Spending),Average Reading Score (Spending),% Passing Math (Spending),%Passing Reading (Spending),Overall Passing rate (Spending)
Spending Ranges (Per Student),,,,,
<$585,83.45,83.94,90.35,93.32,91.835
$585-615,83.60,83.88,90.78,92.41,91.595
$615-645,79.08,81.89,73.02,83.21,78.115
$645-675,77.00,81.03,63.97,78.43,71.200

In [56]:


#---------------------------SCORES BY SCHOOL SIZE------------------------------------------

In [57]:
# create bins to categorise the schools based on size
bins_size = [0,1500,3000,5000]
labels_size = ["Small","Medium","Large"]

In [58]:
# categorise the dataframe
per_school_summary["Size of the school"] = pd.cut(school_summary_df["Total Students"],bins_size,labels = labels_size)
per_school_summary

,School Type,Total School Budget,Budget per student,Average Math Score Schoolwise,Average Reading Score Schoolwise,% Passing Math Schoolwise,% Passing Reading Schoolwise,Overall Passing rate,Spending Ranges (Per Student),Size of the school
Bailey High School,District,"$3,124,928.00",$628.00,77.05,81.03,64.63,79.30,71.965,$615-645,Large
Cabrera High School,Charter,"$1,081,356.00",$582.00,83.06,83.98,89.56,93.86,91.710,<$585,Medium
Figueroa High School,District,"$1,884,411.00",$639.00,76.71,81.16,63.75,78.43,71.090,$615-645,Medium
Ford High School,District,"$1,763,916.00",$644.00,77.10,80.75,65.75,77.51,71.630,$615-645,Medium
Griffin High School,Charter,"$917,500.00",$625.00,83.35,83.82,89.71,93.39,91.550,$615-645,Small
Hernandez High School,District,"$3,022,020.00",$652.00,77.29,80.93,64.75,78.19,71.470,$645-675,Large
Holden High School,Charter,"$248,087.00",$581.00,83.80,83.81,90.63,92.74,91.685,<$585,Small
Huang High School,District,"$1,910,635.00",$655.00,76.63,81.18,63.32,78.81,71.065,$645-675,Medium
Johnson High School,District,"$3,094,650.00",$650.00,77.07,80.97,63.85,78.28,71.065,$645-675,Large
Pena High School,Charter,"$585,858.00",$609.00,83.84,84.04,91.68,92.20,91.940,$585-615,Small
Rodriguez High School,District,"$2,547,363.00",$637.00,76.84,80.74,64.07,77.74,70.905,$615-645,Large
Shelton High School,Charter,"$1,056,600.00",$600.00,83.36,83.73,89.89,92.62,91.255,$585-615,Medium
Thomas High School,Charter,"$1,043,130.00",$638.00,83.42,83.85,90.21,92.91,91.560,$615-645,Medium
Wilson High School,Charter,"$1,319,574.00",$578.00,83.27,83.99,90.93,93.25,92.090,<$585,Medium
Wright High School,Charter,"$1,049,400.00",$583.00,83.68,83.96,90.28,93.44,91.860,<$585,Medium

In [59]:
avg_math_score_size = per_school_summary.groupby(["Size of the school"]).mean()["Average Math Score Schoolwise"]
avg_reading_score_size = per_school_summary.groupby(["Size of the school"]).mean()["Average Reading Score Schoolwise"]
percentage_passing_math_size = per_school_summary.groupby(["Size of the school"]).mean()["% Passing Math Schoolwise"]
percentage_passing_reading_size = per_school_summary.groupby(["Size of the school"]).mean()["% Passing Reading Schoolwise"]
overall_passing_rate = per_school_summary.groupby(["Size of the school"]).mean()["Overall Passing rate"]

In [60]:
scores_school_size = pd.DataFrame({"Average Math Score":avg_math_score_size,
                                  "Average Reading Score":avg_reading_score_size,
                                  "% Passing Math":percentage_passing_math_size,
                                  "% Passing Reading":percentage_passing_reading_size,
                                  "Overall Passing rate":overall_passing_rate})
scores_school_size = scores_school_size[["Average Math Score","Average Reading Score",
                                        "% Passing Math","% Passing Reading",]]
scores_school_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
Size of the school,,,,
Small,83.663333,83.8900,90.673333,92.776667
Medium,80.903750,82.8250,80.461250,87.603750
Large,77.062500,80.9175,64.325000,78.377500

In [61]:


#-----------------------------SCORES BY SCHOOL TYPE-----------------------------------------

In [62]:
avg_math_score_type = per_school_summary.groupby(["School Type"]).mean()["Average Math Score Schoolwise"]
avg_reading_score_type = per_school_summary.groupby(["School Type"]).mean()["Average Reading Score Schoolwise"]
percentage_passing_math_type = per_school_summary.groupby(["School Type"]).mean()["% Passing Math Schoolwise"]
percentage_passing_reading_type = per_school_summary.groupby(["School Type"]).mean()["% Passing Reading Schoolwise"]
overall_passing_rate_type = per_school_summary.groupby(["School Type"]).mean()["Overall Passing rate"]

In [63]:
scores_school_type = pd.DataFrame({"Average Math Score":avg_math_score_type,
                                  "Average Reading Score":avg_reading_score_type,
                                  "% Passing Math":percentage_passing_math_type,
                                  "% Passing Reading":percentage_passing_reading_type,
                                  "Overall Passing rate":overall_passing_rate_type})
scores_school_type = scores_school_type[["Average Math Score","Average Reading Score",
                                        "% Passing Math","% Passing Reading","Overall Passing rate"]]
scores_school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing rate
School Type,,,,,
Charter,83.472500,83.897500,90.361250,93.051250,91.706250
District,76.955714,80.965714,64.302857,78.322857,71.312857