In [2]:
import os
import csv
import pandas as pd
import numpy as np
from collections import Counter

In [3]:
os.path.abspath('.')
os.chdir('/Users/philipharmon/Desktop/unc-data-homework/pandas-challenge')
os.getcwd()
print("The current working directory is", os.getcwd())

The current working directory is /Users/philipharmon/Desktop/unc-data-homework/pandas-challenge

In [4]:
# File to Load (Remember to Change These)
school_data_to_load = '/Users/philipharmon/Desktop/unc-data-homework/pandas-challenge/schools_complete.csv'
student_data_to_load = '/Users/philipharmon/Desktop/unc-data-homework/pandas-challenge/students_complete.csv'

In [5]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [6]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [7]:
# Get a lay of the land
# returns a table of summary statistics on numeric columns in a dataframe
school_data_complete_df.describe()

# This gives a good reference to compare to results from other code

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [8]:
# Get a lay of the land: reading scores
school_data_complete_df["reading_score"].describe()

count    39170.00000
mean        81.87784
std         10.23958
min         63.00000
25%         73.00000
50%         82.00000
75%         91.00000
max         99.00000
Name: reading_score, dtype: float64

In [9]:
# Get a lay of the land: math scores
school_data_complete_df["math_score"].describe()

count    39170.000000
mean        78.985371
std         12.309968
min         55.000000
25%         69.000000
50%         79.000000
75%         89.000000
max         99.000000
Name: math_score, dtype: float64

In [10]:
# Get a lay of the land: school size
school_data_complete_df["size"].describe()

count    39170.000000
mean      3332.957110
std       1323.914069
min        427.000000
25%       1858.000000
50%       2949.000000
75%       4635.000000
max       4976.000000
Name: size, dtype: float64

In [11]:
budget_of_schools_df = school_data_complete_df["budget"].nunique()
budget_of_schools_df

15

In [15]:
total_budget_df = pd.DataFrame(school_data_complete_df["budget"])
pd.options.display.float_format = '${:, .2f}'.format
total_budget_df

        budget
0      1910635
1      1910635
2      1910635
3      1910635
4      1910635
...        ...
39165  1043130
39166  1043130
39167  1043130
39168  1043130
39169  1043130

[39170 rows x 1 columns]

In [22]:
# Get a lay of the land: number of rows and columns
school_data_complete_df.shape

(39170, 11)

In [23]:
# CALCULATE THE NUMBER OF SCHOOLS

In [24]:
# Calculate the number of schools
number_of_schools_df = school_data_complete_df["school_name"].nunique()
number_of_schools_df

15

In [25]:
# CALCULATE THE TOTAL NUMBER OF STUDENTS

In [26]:
# Calculate the total number of students
number_of_students_df = school_data_complete_df["student_name"].count()
number_of_students_df

39170

In [27]:
# CALCULATE THE TOTAL BUDGET

In [28]:
total_budget_df = school_data_complete_df["budget"].sum()
total_budget_df

82932329558

In [29]:
# CALCULATE THE AVERAGE MATH SCORE

In [30]:
# Calculate the average math score
average_math_score_df = school_data_complete_df["math_score"].mean()
average_math_score_df

78.98537145774827

In [31]:
# CALCULATE THE AVERAGE READING SCORES

In [32]:
# calculate the average reading scores
average_reading_score_df = school_data_complete_df["reading_score"].mean()
average_reading_score_df

81.87784018381414

In [33]:
# MAKE A NEW COLUMN TO GET THE OVERALL AVERAGE SCORE OF READING AND MATH

In [35]:
# Find out how many students are passing reading
passing_reading_bins = [0, 69, 100]
passing_reading_labels = ["fail", "pass"]
pd.cut(school_data_complete_df["reading_score"], passing_reading_bins, labels=passing_reading_labels)
school_data_complete_df["passing reading"] = pd.cut(school_data_complete_df["reading_score"], passing_reading_bins, labels=passing_reading_labels)
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passing reading
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,fail
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,pass
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,pass
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,fail
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,pass
...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,pass
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,pass
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,pass
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,pass
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,pass

In [36]:
# Get a count of how many students are passing and failing
print(school_data_complete_df["passing reading"].value_counts())

pass    33610
fail     5560
Name: passing reading, dtype: int64

In [37]:
# Find out how many students are passing math
passing_math_bins = [0, 69, 100]
passing_math_labels = ["fail", "pass"]
pd.cut(school_data_complete_df["math_score"], passing_math_bins, labels=passing_math_labels)
school_data_complete_df["passing math"] = pd.cut(school_data_complete_df["math_score"], passing_math_bins, labels=passing_reading_labels)
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passing reading,passing math
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,fail,pass
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,pass,fail
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,pass,fail
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,fail,fail
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,pass,pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,pass,pass
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,pass,pass
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,pass,pass
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,pass,pass
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,pass,pass

In [41]:
# CALCULATE THE OVERALL PASSING RATE (OVERALL AVERAGE SCORE): (AVG.MATH SCORE + AVG.READING SCORE)/2

In [42]:
overall_passing_rate_df = ((average_math_score_df) + (average_reading_score_df)) / 2
overall_passing_rate_df

80.43160582078121

In [43]:
# CALCULATE THE PERCENTAGE OF STUDENTS WITH A PASSING MATH SCORE (70 OR GREATER)

In [44]:
L = []
students_passing_math_df = L.count("pass")
students_passing_math_df

0

In [45]:
# CALCULATE THE PERCENTAGE OF STUDENTS WITH A PASSING READING SCORE (70 OR GREATER)

In [46]:
# Create a dataframe to hold the above results

In [47]:
# Give the displayed data cleaner formatting

In [48]:
#load the csv files into pandas dataframe
filepath = os.path.join("raw_data","schools_complete.csv")
schools_df = pd.read_csv(filepath)
schools_df.head()

FileNotFoundError: [Errno 2] File b'raw_data/schools_complete.csv' does not exist: b'raw_data/schools_complete.csv'