In [79]:
import os
import csv
import pandas as pd
import numpy as np
from collections import Counter

In [80]:
os.path.abspath('.')
os.chdir('/Users/philipharmon/Desktop/unc-data-homework/pandas-challenge')
os.getcwd()
print("The current working directory is", os.getcwd())

The current working directory is /Users/philipharmon/Desktop/unc-data-homework/pandas-challenge

In [81]:
# File to Load (Remember to Change These)
school_data_to_load = '/Users/philipharmon/Desktop/unc-data-homework/pandas-challenge/schools_complete.csv'
student_data_to_load = '/Users/philipharmon/Desktop/unc-data-homework/pandas-challenge/students_complete.csv'

In [82]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [83]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head(25)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635

In [84]:
# Get a lay of the land
school_data_complete_df.describe()
# returns a table of summary statistics on numeric columns in a dataframe

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [85]:
# Get a lay of the land: reading scores
school_data_complete_df["reading_score"].describe()

count    39170.00000
mean        81.87784
std         10.23958
min         63.00000
25%         73.00000
50%         82.00000
75%         91.00000
max         99.00000
Name: reading_score, dtype: float64

In [86]:
# Get a lay of the land: math scores
school_data_complete_df["math_score"].describe()

count    39170.000000
mean        78.985371
std         12.309968
min         55.000000
25%         69.000000
50%         79.000000
75%         89.000000
max         99.000000
Name: math_score, dtype: float64

In [87]:
# Get a lay of the land: school size
school_data_complete_df["size"].describe()

count    39170.000000
mean      3332.957110
std       1323.914069
min        427.000000
25%       1858.000000
50%       2949.000000
75%       4635.000000
max       4976.000000
Name: size, dtype: float64

In [88]:
# Get a lay of the land: budget
school_data_complete_df["budget"].describe()

count    3.917000e+04
mean     2.117241e+06
std      8.749987e+05
min      2.480870e+05
25%      1.081356e+06
50%      1.910635e+06
75%      3.022020e+06
max      3.124928e+06
Name: budget, dtype: float64

In [89]:
# Get a lay of the land: number of rows and columns
school_data_complete_df.shape

(39170, 11)

In [96]:
# Calculate the number of schools
school_data_complete_df["school_name"].nunique()

15

In [92]:
# Calculate the total number of students
school_data_complete_df["student_name"].value_counts()
# This return shows that there are groups of students with the same name

Michael Smith       26
Michael Williams    16
David Johnson       16
David Smith         15
Daniel Johnson      14
                    ..
Spencer Anderson     1
Beverly Sanders      1
Mr. Justin Mcgee     1
Maria Maldonado      1
Alexander Hughes     1
Name: student_name, Length: 32715, dtype: int64

In [97]:
# Calculate the total number of students
school_data_complete_df["student_name"].count()

39170

In [98]:
# Calculate the total number of students
school_data_complete_df["student_name"].nunique()

32715

In [99]:
# Calculate the average math score
school_data_complete_df["math_score"].mean()

78.98537145774827

In [37]:
# Calculate the average math score
school_data_complete_df.iloc[: , 6]

0        79
1        61
2        60
3        58
4        84
         ..
39165    90
39166    70
39167    84
39168    90
39169    75
Name: math_score, Length: 39170, dtype: int64

In [100]:
# calculate the average reading scores
school_data_complete_df["reading_score"].mean()

81.87784018381414

In [38]:
# Calculate the average reading scores
school_data_complete_df.iloc[: , 5]

0        66
1        94
2        90
3        67
4        97
         ..
39165    99
39166    95
39167    73
39168    99
39169    95
Name: reading_score, Length: 39170, dtype: int64

In [11]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

In [12]:
# Calculate the percentage of students with a passing math score (70 or greater)

In [13]:
# Calculate the percentage of students with a passing reading score (70 or greater)

In [14]:
# Create a dataframe to hold the above results

In [ ]:
# Give the displayed data cleaner formatting