In [71]:
# Import dependencies
import os
import csv
import pandas as pd
import numpy as np
from collections import Counter

In [72]:
# Locate and confirm current working directory
os.path.abspath('.')
os.chdir('/Users/philipharmon/Desktop/unc-data-homework/pandas-challenge')
os.getcwd()
print("The current working directory is", os.getcwd())

The current working directory is /Users/philipharmon/Desktop/unc-data-homework/pandas-challenge

In [73]:
# File to Load (Remember to Change These)
school_data_to_load = '/Users/philipharmon/Desktop/unc-data-homework/pandas-challenge/schools_complete.csv'
student_data_to_load = '/Users/philipharmon/Desktop/unc-data-homework/pandas-challenge/students_complete.csv'

In [74]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [75]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [76]:
# Get a lay of the land
# returns a table of summary statistics on numeric columns in a dataframe
school_data_complete_df.describe()

# This gives a good reference to compare to results from other code

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [77]:
# Determine the data types
# Necessary for cleaning the data
school_data_complete_df.dtypes.value_counts()

int64     6
object    5
dtype: int64

In [78]:
# Calculate the number of schools
number_of_schools_df = school_data_complete_df["school_name"].nunique()
number_of_schools_df

15

In [79]:
# Calculate the total number of students
number_of_students_df = school_data_complete_df["student_name"].count()
number_of_students_df

39170

In [80]:
# Break off each of the 15 schools into individual groups/bins
# Create bins for the individual schools: Name, Type, # Students, Budget

raw_school_data = {
    "Name": ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School",
             "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School",
             "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School",
             "Johnson High School", "Ford High School", "Thomas High School"],
    "Type": ["District", "District", "Charter", "District", "Charter", "Charter", "Charter", "District",
             "Charter", "Charter", "Charter", "District", "District", "District", "Charter"],
    "Student Total": [2917, 2949, 1761, 4635, 1468, 2283,
                           1858, 4976, 427, 962, 1800, 3999, 4761, 2739, 1635],
    "Budget": [1910635, 1884411, 1056600, 3022020, 917500, 1319574, 1081356, 3124928,
               248087, 585858, 1049400, 2547363, 3094650, 1763916, 1043130]
}
indv_school_data_df = pd.DataFrame(raw_school_data)
indv_school_data_df

                     Name      Type  Student Total   Budget
0       Huang High School  District           2917  1910635
1    Figueroa High School  District           2949  1884411
2     Shelton High School   Charter           1761  1056600
3   Hernandez High School  District           4635  3022020
4     Griffin High School   Charter           1468   917500
5      Wilson High School   Charter           2283  1319574
6     Cabrera High School   Charter           1858  1081356
7      Bailey High School  District           4976  3124928
8      Holden High School   Charter            427   248087
9        Pena High School   Charter            962   585858
10     Wright High School   Charter           1800  1049400
11  Rodriguez High School  District           3999  2547363
12    Johnson High School  District           4761  3094650
13       Ford High School  District           2739  1763916
14     Thomas High School   Charter           1635  1043130

In [81]:
# Calculate the Total Budget for District
indv_school_data_df["Budget"].sum()

24649428

In [85]:
indv_school_data_df.dtypes.value_counts()

object    2
int64     2
dtype: int64

In [87]:
# Calculate average math score
average_math_score_df = school_data_complete_df["math_score"].mean()
average_math_score_df

78.98537145774827

In [90]:
# Calculate average reading score
average_reading_score_df = school_data_complete_df["reading_score"].mean()
average_reading_score_df

81.87784018381414

In [91]:
# Calculate overall passing rate (overall average score)
overall_passing_rate_df = ((average_math_score_df) + (average_reading_score_df)) / 2
overall_passing_rate_df

80.43160582078121

In [51]:
# Find out how many students are passing math
passing_math_bins = [0, 69, 100]
passing_math_labels = ["fail", "pass"]
pd.cut(school_data_complete_df["math_score"], passing_math_bins, labels=passing_math_labels)
school_data_complete_df["passing math"] = pd.cut(school_data_complete_df["math_score"], passing_math_bins, labels=passing_math_labels)
school_data_complete_df
print(school_data_complete_df["passing math"].value_counts())

pass    29370
fail     9800
Name: passing math, dtype: int64

In [52]:
# The percentage of students with a passing math grade [(number passsing / total students) *100]
percent_passing_math_df = ((29370 / 39170) * 100)
percent_passing_math_df

74.9808526933878

In [53]:
# Find out how many students are passing reading
passing_reading_bins = [0, 69, 100]
passing_reading_labels = ["fail", "pass"]
pd.cut(school_data_complete_df["reading_score"], passing_reading_bins, labels=passing_reading_labels)
school_data_complete_df["passing reading"] = pd.cut(school_data_complete_df["reading_score"], passing_reading_bins, labels=passing_reading_labels)
school_data_complete_df
print(school_data_complete_df["passing reading"].value_counts())

pass    33610
fail     5560
Name: passing reading, dtype: int64

In [54]:
# The percentage of students with a passing reading grade [(number passsing / total students) *100]
percent_passing_reading_df = ((33610 / 39170) * 100)
percent_passing_reading_df

85.80546336482001

In [25]:
# Create data frame to hold results

In [ ]:
# Give displayed data cleaner formatting